<%- include('includes/header'); %>

    <div class="container block">
        <figure class="image is-2by1 block">
            <img src="kuvat/online_store.jpg" alt="">
        </figure>
        <section class="content is-size-5">
        <h1 class="title block">Yhteystiedot</h1>
        <p><strong>Verkkokauppassa</strong> haluamme tarjoa paras palvelua asiakkaillemme. Jos jotain ei ole täysin sinun tyytyväisyyteen, ole hyvä ja ota yhteyttä meihin ehdottomasti.</p>

        <p>Meidän osoite on:<br><br>
            <strong>Verkkokauppa Oy</strong><br>
            Tietokoneentie 15<br>
            00686 Espoo<br></p>
        <p>Voidaan myös soittaa numerolle +358 049 1234 221 tai lähettää sähköpostia osoitteeseen <a href="mailto:me@verkkokauppa.com.fi">me@verkkokauppa.com.fi</a></p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque perspiciatis doloremque quas harum ad ipsa deserunt, nostrum dolores in exercitationem totam nihil est consequuntur porro similique necessitatibus, repellat vel. Praesentium.
        Reprehenderit, corporis amet labore eos repudiandae itaque eius dolorum magnam delectus. Corporis fuga saepe nobis commodi perspiciatis consequuntur adipisci, nam harum unde quasi voluptatem vel quia, expedita illum iusto voluptatum.</p>
        <p>Fugit nisi, aperiam omnis ducimus culpa ea dolor aut placeat doloribus, atque quas minus aliquid. Fuga officiis repudiandae qui, voluptate iste, odio, veniam assumenda laudantium explicabo exercitationem magnam sint! Dignissimos!
        Velit fugiat placeat, optio veniam, neque molestias omnis, expedita nesciunt corporis deleniti vitae. Explicabo, dolorem necessitatibus eaque enim repellat autem minus dolores doloribus recusandae porro dicta dolorum quo labore asperiores.</p>
        <p>Error saepe corrupti ipsum, voluptatibus dolorem quidem sapiente ratione voluptas voluptatum? Doloribus perspiciatis quaerat soluta temporibus omnis eveniet cupiditate iure sed expedita eos unde, quasi voluptatem? Alias esse est voluptas!
        Tenetur aut autem quibusdam dicta, sapiente atque quae rem, corporis ducimus in soluta fuga ex ea, ipsa blanditiis illo aperiam nesciunt aliquam quasi? Fugiat sapiente numquam assumenda eligendi, autem placeat.</p>
    </div>

<%- include('includes/footer'); %>